In [1]:
import pandas as pd
import sqlalchemy as sql

In [2]:
connect_string = 'mysql://root:kuroko32!@localhost:3306/libsat'
sql_engine = sql.create_engine(connect_string)

In [3]:
query = "select * from calibration where name='sensor_1' limit 1"
df = pd.read_sql_query(query, sql_engine)

In [7]:
df['voltage_offset'][0]
df['slope'][0]

0.0235378

In [36]:
# MySQL Query Statement
query = "select * from sensor_data where date between '2019-11-26 11:11:00' and '2019-11-27 00:00:00' order by date"
# Pulls the Query Information
df = pd.read_sql_query(query, sql_engine)

In [37]:
df.head()

       name      data                 date
0  sensor_4  0.001000  2019-11-26 11:11:00
1  sensor_4  0.001000  2019-11-26 11:11:00
2  sensor_2 -0.005875  2019-11-26 11:11:00
3  sensor_2 -0.005875  2019-11-26 11:11:00
4  sensor_3 -0.013875  2019-11-26 11:11:00

In [26]:
l = list(df['name'].unique())
l.sort()

output={}
for i in range(0,len(l)):
    name = l[i]
    tempdf = df[df['name'] == name].reset_index(drop=True)
    
    for j in range(0,len(tempdf)):
        
        date = tempdf['date'][j]
        data = tempdf['data'][j]
        
        try:
            output[name].append({'x':date,'y':data})
        except:
            output[name] = [{'x':date,'y':data}]

In [10]:
output = {}
for i in range(0,len(df)):
    name = df['name'][i]
    data = df['data'][i]
    date = df['date'][i]
    
    try:
        output[name].append({'x':date,'y':data})
    except:
        output[name] = [{'x':date,'y':data}]

In [28]:
# Calibration Offset
query = "select * from calibration order by name"
calib_df = pd.read_sql_query(query, sql_engine).dropna()

In [29]:
calib_df

       name  voltage_offset     slope
0  sensor_1       -0.000329  0.023841
1  sensor_2       -0.006782  0.024384
2  sensor_3       -0.016251  0.024059
3  sensor_4       -0.000788  0.023938

In [41]:
df[df['name'] == 'sensor_1']

           name      data                 date
6      sensor_1 -0.001625  2019-11-26 11:11:00
7      sensor_1 -0.001625  2019-11-26 11:11:00
12     sensor_1 -0.001625  2019-11-26 11:11:01
13     sensor_1 -0.001625  2019-11-26 11:11:01
18     sensor_1 -0.001625  2019-11-26 11:11:02
19     sensor_1 -0.001625  2019-11-26 11:11:02
20     sensor_1 -0.001625  2019-11-26 11:11:03
21     sensor_1 -0.001625  2019-11-26 11:11:03
28     sensor_1 -0.001625  2019-11-26 11:11:04
29     sensor_1 -0.001625  2019-11-26 11:11:04
36     sensor_1 -0.001625  2019-11-26 11:11:05
37     sensor_1 -0.001625  2019-11-26 11:11:05
44     sensor_1 -0.001625  2019-11-26 11:11:06
45     sensor_1 -0.001625  2019-11-26 11:11:06
52     sensor_1 -0.001625  2019-11-26 11:11:07
55     sensor_1 -0.001625  2019-11-26 11:11:07
58     sensor_1 -0.001625  2019-11-26 11:11:08
59     sensor_1 -0.001625  2019-11-26 11:11:08
66     sensor_1 -0.001625  2019-11-26 11:11:09
67     sensor_1 -0.001625  2019-11-26 11:11:09
78     sensor_1 -0.001625  2019-11-26 11:11:10
79     sensor_1 -0.001625  2019-11-26 11:11:10
86     sensor_1 -0.001625  2019-11-26 11:11:11
90     sensor_1 -0.001625  2019-11-26 11:11:12
91     sensor_1 -0.001625  2019-11-26 11:11:12
96     sensor_1 -0.001625  2019-11-26 11:11:13
101    sensor_1 -0.001625  2019-11-26 11:11:14
102    sensor_1 -0.001625  2019-11-26 11:11:14
104    sensor_1 -0.001625  2019-11-26 11:11:15
105    sensor_1 -0.001625  2019-11-26 11:11:15
...         ...       ...                  ...
12002  sensor_1 -0.000750  2019-11-26 11:41:04
12003  sensor_1 -0.000750  2019-11-26 11:41:04
12008  sensor_1 -0.000750  2019-11-26 11:41:05
12009  sensor_1 -0.000750  2019-11-26 11:41:05
12014  sensor_1 -0.000750  2019-11-26 11:41:06
12015  sensor_1 -0.000750  2019-11-26 11:41:06
12022  sensor_1 -0.000750  2019-11-26 11:41:07
12024  sensor_1 -0.000750  2019-11-26 11:41:07
12026  sensor_1 -0.000750  2019-11-26 11:41:08
12027  sensor_1 -0.000750  2019-11-26 11:41:08
12032  sensor_1 -0.000750  2019-11-26 11:41:09
12033  sensor_1 -0.000750  2019-11-26 11:41:09
12038  sensor_1 -0.000750  2019-11-26 11:41:10
12039  sensor_1 -0.000750  2019-11-26 11:41:10
12042  sensor_1 -0.000750  2019-11-26 11:41:11
12043  sensor_1 -0.000750  2019-11-26 11:41:11
12050  sensor_1 -0.000750  2019-11-26 11:41:14
12051  sensor_1 -0.000750  2019-11-26 11:41:14
12054  sensor_1 -0.000750  2019-11-26 11:41:15
12055  sensor_1 -0.000750  2019-11-26 11:41:15
12058  sensor_1 -0.000750  2019-11-26 11:41:17
12059  sensor_1 -0.000750  2019-11-26 11:41:17
12062  sensor_1 -0.000750  2019-11-26 11:41:18
12063  sensor_1 -0.000750  2019-11-26 11:41:18
12066  sensor_1 -0.000750  2019-11-26 11:41:18
12067  sensor_1 -0.000750  2019-11-26 11:41:18
12072  sensor_1 -0.000750  2019-11-26 11:41:20
12073  sensor_1 -0.000875  2019-11-26 11:41:20
12082  sensor_1 -0.000750  2019-11-26 11:41:24
12083  sensor_1 -0.000750  2019-11-26 11:41:24

[3630 rows x 3 columns]

In [80]:
offset = calib_df[calib_df['name'] == 'sensor_2']['voltage_offset'].reset_index(drop=True)[0]
slope = calib_df[calib_df['name'] == 'sensor_2']['slope'].reset_index(drop=True)[0]

In [79]:
offset[]

1   -0.006782
Name: voltage_offset, dtype: float64

In [81]:
tempdf = df[df['name'] == 'sensor_2']['data'].reset_index(drop=True).apply(lambda x: x*offset)

In [73]:
tempdf2 = df[df['name'] == 'sensor_1']['data'].reset_index(drop=True).apply(lambda x: x*2)

In [55]:
tempdf2 = df[df['name'] == 'sensor_1']['data'].apply(lambda x: (x-calib_df[calib_df['name'] == 'sensor_1']['voltage_offset'])/calib_df[calib_df['name'] == 'sensor_1']['slope'])

In [65]:
tempdf2 = df[df['name'] == 'sensor_1']['data'].reset_index(drop=True).apply(lambda x: x*2)

In [82]:
tempdf

0       0.000040
1       0.000040
2       0.000041
3       0.000041
4       0.000041
5       0.000041
6       0.000042
7       0.000042
8       0.000041
9       0.000041
10      0.000042
11      0.000042
12      0.000041
13      0.000041
14      0.000041
15      0.000041
16      0.000040
17      0.000040
18      0.000040
19      0.000040
20      0.000040
21      0.000040
22      0.000040
23      0.000040
24      0.000040
25      0.000040
26      0.000040
27      0.000040
28      0.000040
29      0.000040
          ...
2835    0.000027
2836    0.000028
2837    0.000027
2838    0.000027
2839    0.000027
2840    0.000027
2841    0.000027
2842    0.000027
2843    0.000028
2844    0.000028
2845    0.000028
2846    0.000027
2847    0.000028
2848    0.000027
2849    0.000027
2850    0.000027
2851    0.000027
2852    0.000027
2853    0.000028
2854    0.000028
2855    0.000028
2856    0.000028
2857    0.000027
2858    0.000028
2859    0.000028
2860    0.000028
2861    0.000028
2862    0.000028
2863    0.000028
2864    0.000028
Name: data, Length: 2865, dtype: float64

In [66]:
tempdf2

0      -0.00325
1      -0.00325
2      -0.00325
3      -0.00325
4      -0.00325
5      -0.00325
6      -0.00325
7      -0.00325
8      -0.00325
9      -0.00325
10     -0.00325
11     -0.00325
12     -0.00325
13     -0.00325
14     -0.00325
15     -0.00325
16     -0.00325
17     -0.00325
18     -0.00325
19     -0.00325
20     -0.00325
21     -0.00325
22     -0.00325
23     -0.00325
24     -0.00325
25     -0.00325
26     -0.00325
27     -0.00325
28     -0.00325
29     -0.00325
         ...
3600   -0.00150
3601   -0.00150
3602   -0.00150
3603   -0.00150
3604   -0.00150
3605   -0.00150
3606   -0.00150
3607   -0.00150
3608   -0.00150
3609   -0.00150
3610   -0.00150
3611   -0.00150
3612   -0.00150
3613   -0.00150
3614   -0.00150
3615   -0.00150
3616   -0.00150
3617   -0.00150
3618   -0.00150
3619   -0.00150
3620   -0.00150
3621   -0.00150
3622   -0.00150
3623   -0.00150
3624   -0.00150
3625   -0.00150
3626   -0.00150
3627   -0.00175
3628   -0.00150
3629   -0.00150
Name: data, Length: 3630, dtype: float64

In [50]:
tempdf

             1
0     0.037183
1     0.037183
2     0.032057
3     0.032057
4     0.032057
5     0.032057
6     0.026930
7     0.026930
8     0.032057
9     0.032057
10    0.026930
11    0.026930
12    0.032057
13    0.032057
14    0.032057
15    0.032057
16    0.037183
17    0.037183
18    0.037183
19    0.037183
20    0.037183
21    0.037183
22    0.037183
23    0.037183
24    0.037183
25    0.037183
26    0.037183
27    0.037183
28    0.037183
29    0.037183
...        ...
2835  0.114081
2836  0.108954
2837  0.114081
2838  0.114081
2839  0.114081
2840  0.114081
2841  0.114081
2842  0.114081
2843  0.108954
2844  0.108954
2845  0.108954
2846  0.114081
2847  0.108954
2848  0.114081
2849  0.114081
2850  0.114081
2851  0.114081
2852  0.114081
2853  0.108954
2854  0.108954
2855  0.108954
2856  0.108954
2857  0.114081
2858  0.108954
2859  0.108954
2860  0.108954
2861  0.108954
2862  0.108954
2863  0.108954
2864  0.108954

[2865 rows x 1 columns]